@model AgroWebPro.Web.Models.CultivoModels
@{
    ViewBag.Title = "Cultivos";
}

<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />

<h2>Mantenimiento de cultivos</h2>
@using (Html.BeginForm("MantenimientoCultivo", "Principal", FormMethod.Post, new
{
    id = "formCultivo",
    role = "form",
    @data_toggle = "validator" }))
{
<div class="form-group">
    <div class="row form-group">
        <div class="col-md-6">
            <label>Nombre</label>
            @Html.TextBoxFor(model => model.nombreCultivo, new { @id = "txtNombreCultivo", @class = "form-control", @required = "required", @placeholder = "Nombre" })
        </div>
        <div class="col-md-6">
            <label>Familia</label>
            @Html.DropDownListFor(model => model.idFamilia, new SelectList(Model.listaFamilias, "IdFamilia", "NombreFamilia"), new { @id = "ddlFamilias", @class = "form-control", @required = "required" })
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            <label>Descripción</label>
            @Html.TextAreaFor(model => model.descripcionCultivo, new { @id = "txtDescripcionCultivo", @class = "form-control", @required = "required", @placeholder = "Descripción" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <button type="submit" name="btnGuardar" class="btn btn-info pull-right btn-guardar">Guardar</button>
            <button class="btn btn-danger pull-right">Cancelar</button>
        </div>
    </div>
</div>
<hr />
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Familia</th>
            <th>Descripción</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.listaCultivos != null)
        {
            foreach (var itemCultivo in Model.listaCultivos)
            {
                <tr>
                    <td>@itemCultivo.nombreCultivo</td>
                    <td>@itemCultivo.nombreFamilia</td>
                    <td>@itemCultivo.descripcionCultivo</td>
                    <td><button class="btn btn-danger" onclick="EliminarCultivo()"><span class="fa fa-trash"></span> </button>&nbsp;<button class="btn btn-primary" onclick="EditarUsuario()"><span class="fa fa-pencil"></span> </button></td>
                </tr>
            }
        }
        
    </tbody>
</table>
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<script>
    $('#txtFechaNacimiento').datepicker({

        changeMonth: true,
        changeYear: true,
        format: "dd/mm/yyyy",
        todayHighlight: true,
        todayBtn: "linked",
        onSelect: function (date) {
        }
    }).on('changeDate', function (e) {
        $(this).datepicker('hide');
    });

    function EliminarCultivo() {
        swal({
            title: "Borrar usuario",
            text: "Esta acción eliminará el cultivo",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("El cultivo ha sido eliminado correctamente", {
                        icon: "success",
                    });
                } 
            });
    }
</script>
