@model AgroWebPro.Web.Models.ReporteModels
@{
    ViewBag.Title = "Tareas";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="~/Content/reportes.css" rel="stylesheet" />

<div class="row">
    <br>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="">
                <div class="row" style="padding-right:10px;">
                    <div class="col-md-9">
                        <h3 style="margin-left:10px;"><span class="fa fa-tasks fa-lg"></span>&nbsp;Reporte&nbsp;<span id="tituloMantenimiento">/ Tareas </span></h3>
                    </div>
                    <div class="col-md-3" style="margin:10px 0px 10px 0px;">
                        <label>Tipo de reporte:</label>
                        <select id="ddlTipoReporte" class="form-control" onchange="CambiarReporte()" style="margin-right:10px;"><option value="1" selected>Reporte de tareas</option><option value="2">Reporte de cosechas</option></select>
                    </div>
                </div>
                
            </div>
        </div>
    </nav>
</div>
@using (Html.BeginForm("General", "Reporte", FormMethod.Post, new { id = "formReporte", role = "form", @data_toggle = "validator" }))
{
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.fechaInicio)
                @Html.TextBoxFor(model => model.fechaInicio, new { @id = "txtFechaInicio", @readonly = "readonly", @class = "form-control", @required = "required", @placeholder = "Nombre", value = DateTime.Now.ToShortDateString() })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.fechaFin)
                @Html.TextBoxFor(model => model.fechaFin, new { @id = "txtFechaFinalizacion", @readonly = "readonly", @class = "form-control", @required = "required", @placeholder = "Nombre" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.idTerreno)<br />
                @Html.DropDownListFor(model => model.idTerreno, new SelectList(Model.listaTerrenosEmpresa, "idTerreno", "nombreTerreno"), new { @id = "ddlTerrenos", @class = "form-control" })
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-10"></div>
            <div class="col-md-2 ">
                <button class="btn btn-orange pull-right" id="btnBuscar" type="submit">Buscar&nbsp;<span class="fa fa-search"></span></button>
            </div>
        </div>
    </div>
}

<div class="form-group" id="divTablaTareas">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                
                    
                    <table class="table table-sm" id="tblResultado" data-show-toggle="true" data-search="true"
                           data-show-export="true"
                           data-minimum-count-columns="2"
                           data-show-pagination-switch="true"
                           data-pagination="true"
                           data-page-list="[10, 25, 50, 100, ALL]"
                           data-locale="es-CR"
                           data-url="tableExport.json">
                        <thead class="thead-dark">
                            <tr>
                                <th data-field="Terreno">Terreno</th>
                                <th data-field="Empleado">Empleado</th>
                                <th data-field="TipoTarea">Tipo de tarea</th>
                                <th data-field="FechaInicio">Fecha de inicio</th>
                                <th data-field="FechaFin">Fecha de finalización</th>
                                <th data-field="HorasEstimadas">Horas estimadas</th>
                                <th data-field="HorasReportadas">Horas reportadas</th>
                                <th data-field="Resumen">Resumen</th>
                                <th data-field="Estado">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.listaTareas != null && Model.listaTareas.Count() > 0)
                            {
                                foreach (var itemTarea in Model.listaTareas)
                                {
                                    <tr>
                                        <td>@itemTarea.nombreTerreno</td>
                                        <td>@itemTarea.nombreEmpleado</td>
                                        <td>@itemTarea.nombreTipoTarea</td>
                                        <td>@itemTarea.fechaInicio</td>
                                        <td>@itemTarea.fechaFinalizacion</td>
                                        <td>@itemTarea.horasEstimadas</td>
                                        <td>@itemTarea.horasReportadas</td>
                                        <td>@itemTarea.resumen</td>
                                        <td>
                                            @if (itemTarea.idEstadoTarea == 0)
                                            {
                                                <label class="btn btn-danger">No iniciada</label>
                                            }
                                            else if (itemTarea.idEstadoTarea == 1)
                                            {
                                                <label class="btn btn-info">Iniciada</label>
                                            }
                                            else if (itemTarea.idEstadoTarea == 2)
                                            {
                                                <label class="btn btn-warning">En proceso</label>
                                            }
                                            else if (itemTarea.idEstadoTarea == 3)
                                            {
                                                <label class="btn btn-success">Finalizada</label>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="8"><center>No hay datos disponibles</center></td></tr>
                            }

                        </tbody>
                    </table>
                    @if (Model.listaTareas != null && Model.listaTareas.Count() > 0)
                    {
                        <div id="divExportarExcel">
                            <a href="#" class="btn btn-success" onclick="$('#tblResultado').tableExport({type:'excel',
                                                             excelFileFormat:'xmlss',
                                                             worksheetName: ['Table 1'],
                                                            fileName: 'ReporteTareas@(DateTime.Now.ToString("-dd-MM-yyyy_HHmm"))'}
                                                                );">
                                &nbsp;Exportar a Excel&nbsp;<span><i class="fa fa-save"></i></span>
                            </a>
                            <a href="#" class="btn btn-info" onclick="$('#tblResultado').tableExport({type:'pdf',pdfmake:{enabled:true},fileName: 'ReporteTareas@(DateTime.Now.ToString("-dd-MM-yyyy_HHmm"))'});">
                                &nbsp;Exportar a PDF&nbsp;<span><i class="fa fa-save"></i></span>
                            </a>
                        </div>
                    }
                    
            </div>
        </div>
    </div>
</div>





<script src="~/Scripts/Chart.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>

<script src="~/Scripts/libs/js-xlsx/xlsx.core.min.js"></script>
<script src="~/Scripts/libs/pdfmake/pdfmake.min.js"></script>
<script src="~/Scripts/libs/pdfmake/vfs_fonts.js"></script>
<script src="~/Scripts/libs/FileSaver/FileSaver.min.js"></script>
<script src="~/Scripts/tableExport.min.js"></script>
<script>
    $('#txtFechaInicio').datepicker({
        changeMonth: true,
        changeYear: true,
        format: "dd/mm/yyyy",
        todayBtn: "linked"
    }).on('changeDate', function (e) {
        $(this).datepicker('hide');
    });

    $('#txtFechaFinalizacion').datepicker({
        changeMonth: true,
        changeYear: true,
        format: "dd/mm/yyyy",
        todayBtn: "linked"
    }).on('changeDate', function (e) {
        $(this).datepicker('hide');
    });

    function CambiarReporte() {
        var seleccionado = $("#ddlTipoReporte").val();
        if (seleccionado == 2) {
            window.location.href = "@Url.Action("Cosechas","Reporte")";
        }
    }

    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#292b2c';

    var ctx = document.getElementById("myAreaChart");
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Mar 1", "Mar 2", "Mar 3", "Mar 4", "Mar 5", "Mar 6", "Mar 7", "Mar 8", "Mar 9", "Mar 10", "Mar 11", "Mar 12", "Mar 13"],
            datasets: [{
                label: "Sessions",
                lineTension: 0.3,
                backgroundColor: "rgba(2,117,216,0.2)",
                borderColor: "rgba(2,117,216,1)",
                pointRadius: 5,
                pointBackgroundColor: "rgba(2,117,216,1)",
                pointBorderColor: "rgba(255,255,255,0.8)",
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(2,117,216,1)",
                pointHitRadius: 20,
                pointBorderWidth: 2,
                data: [10000, 30162, 26263, 18394, 18287, 28682, 31274, 33259, 25849, 24159, 32651, 31984, 38451],
            }],
        },
        options: {
            scales: {
                xAxes: [{
                    time: {
                        unit: 'date'
                    },
                    gridLines: {
                        display: false
                    },
                    ticks: {
                        maxTicksLimit: 7
                    }
                }],
                yAxes: [{
                    ticks: {
                        min: 0,
                        max: 40000,
                        maxTicksLimit: 5
                    },
                    gridLines: {
                        color: "rgba(0, 0, 0, .125)",
                    }
                }],
            },
            legend: {
                display: false
            }
        }
    });
</script>