@model AgroWebPro.Web.Models.UsuarioModels
@{
    ViewBag.Title = "Mantenimiento de empleados";
}

<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />

<h2>Mantenimiento de empleados</h2>

<div class="form-group">
    <div class="row form-group">
        <input type="hidden" id="hdnIdEmpleado" />
        <div class="col-md-6">
            <label>Nombre</label>
            @Html.TextBoxFor(model => model.nombre, new { @id = "txtNombreUsuario", @class = "form-control", @required = "required", @placeholder = "Ingrese el nombre" })
        </div>
        <div class="col-md-6">
            <label>Apellidos</label>
            @Html.TextBoxFor(model => model.apellidos, new { @id = "txtApellidos", @class = "form-control", @placeholder = "Ingrese los apellidos" })
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <label>Fecha de nacimiento</label>
            @{string fecha = DateTime.Now.ToShortDateString(); }
            @Html.TextBoxFor(model => fecha, new { @id = "txtFechaNacimiento", @class = "form-control", value = fecha , @readonly = "readonly" })
        </div>
        <div class="col-md-6">
            <label>Correo</label>
            @Html.TextBoxFor(model => model.correo, new { @id = "txtCorreo", @class = "form-control", @type = "email", @placeholder = "Ingrese el correo" })
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <label>Teléfono</label>
            @Html.TextBoxFor(model => model.telefono, new { @id = "txtTelefono", @class = "form-control",  @placeholder = "Ingrese el telefono" })
        </div>
        <div class="col-md-6">
            <label>Puesto</label>
            @Html.DropDownListFor(model => model.idRol, new SelectList(Model.listaRoles, "idRol", "nombreRol"), new { @id = "ddlRoles", @class = "form-control", @required = "required" })

        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <label>Dirección</label>
            @Html.TextAreaFor(model => model.direccion, new { @id = "txtDireccion", @class = "form-control", @rows = 5, @placeholder = "Ingrese la dirección" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <button class="btn btn-primary pull-right btn-guardar">Guardar</button>
            <button class="btn btn-danger pull-right" id="btnCancelar">Cancelar</button>
        </div>
    </div>
</div>
<hr />
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Puesto</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Agustín Omar</td>
            <td>Castillo Picado</td>
            <td>agustin.castillo@regionalsoft.com</td>
            <td>Puesto 1</td>
            <td><button class="btn btn-danger" onclick="EliminarUsuario()"><span class="fa fa-trash"></span> </button>&nbsp;<button class="btn btn-primary" onclick="EditarUsuario()"><span class="fa fa-pencil"></span> </button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>María Fernanda</td>
            <td>Sanchez Gamboa</td>
            <td>maria.sanchezg@gmail.com</td>
            <td>Puesto 1</td>
            <td><button class="btn btn-danger" onclick="EliminarUsuario()"><span class="fa fa-trash"></span> </button>&nbsp;<button class="btn btn-primary" onclick="EditarUsuario()"><span class="fa fa-pencil"></span> </button></td>
        </tr>
    </tbody>
</table>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<script>
    $('#txtFechaNacimiento').datepicker({

        changeMonth: true,
        changeYear: true,
        format: "dd/mm/yyyy",
        todayHighlight: true,
        todayBtn: "linked",
        onSelect: function (date) {
        }
    }).on('changeDate', function (e) {
        $(this).datepicker('hide');
        });

    function EliminarUsuario() {
        swal({
            title: "Borrar usuario",
            text: "Esta acción eliminará al usuario",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("El usuario ha sido eliminado correctamente", {
                        icon: "success",
                    });
                } 
            });
    }
</script>
<style>
    #btnCancelar {
        margin-right: 10px;
    }
</style>